@charset "utf-8";
*{
	margin:0;
	padding:0;
}

/* Header */

header{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

nav{
    position : fixed;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px;
    width: 75%;

    flex-wrap: wrap;
    flex: 1 1 100px;
    display: flex;
}

nav a{
    padding:10px;
    text-decoration: none;
    color: black;
}

/* Body */

section#acceuil{

}
